@mixin centerElementAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerElementFlexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerElementBlock {
  display: block;
  margin: 0 auto;
}